---
import { fade } from 'astro:transitions'
import { getCollection } from 'astro:content'

import Header from '../../components/Header.astro'
import BaseHead from '../../components/BaseHead.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('notes')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<html data-theme="cupcake" lang="en">
  <head>
    <BaseHead
      title={entry.data.title || entry.slug}
      description={entry.data.description || entry.body.substring(0, 127)}
    />
  </head>

  <body class="max-w-lg mx-auto blog">
    <Header />
    <main transition:animate={fade({ duration: '50ms' })}>
      <article>
        <Content />
      </article>
    </main>
  </body>
</html>
