@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply px-4 py-12;
  font-size: 16px;
  font-family: 'Garamond', 'Verdana', sans-serif;
}

hr, p {
  @apply my-4 !important;
}

ul {
  @apply my-4 !important;
}

ul li {
  @apply list-disc text-sm !important;
}

/* li::marker {
  @apply flex !important;
} */

ol li {
  @apply list-decimal text-sm !important;
}

pre {
  @apply text-xs p-4 rounded-md my-4 !important;
}

a {
  @apply text-gray-600 underline !important;
}

a.active {
  color:#7EB233 !important;
}

/* todo h1 -- h6 */
h1 {
  @apply text-2xl !important;
}

h2 {
  @apply text-2xl !important;
}

h3 {
  @apply text-2xl !important;
}

h4 {
  @apply text-2xl !important;
}

h5 {
  @apply text-xl !important;
}

h6 {
  @apply text-xl !important;
}

blockquote {
  @apply text-sm italic font-semibold text-gray-900 dark:text-white pl-4 border-l-4 !important;
  font-family: 'JetBrains Mono Variable', sans-serif;
}

code {
  @apply bg-gray-100 text-xs px-1 py-0.5 rounded-sm !important;
  font-family: 'JetBrains Mono Variable', sans-serif;
}

pre > code {
  @apply bg-transparent text-xs not-italic !important;
  font-family: 'JetBrains Mono Variable', sans-serif;
}

.astro-code {
  border: 1px solid gainsboro;
}