---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { getCollection } from 'astro:content'

let allProjects = await getCollection('posts')
allProjects = allProjects.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate))
---

<!DOCTYPE html>
<html data-theme="lemonade" lang="en">
  <head>
    <BaseHead
      title="@duongital - Projects"
      description="Side projects that I've been working on"
    />
  </head>
  <body class="max-w-2xl mx-auto">
    <Header />
    <main>
      <section>
        <p>
          A collection of short posts sharing interesting things I've discovered while working on various personal and company projects.
        </p>
        <h1>Writing:</h1>
        <ul>
          {
            allProjects.map((post) => (
              <li class="mt-4 flex flex-col gap-x-4">
                <span>
                  {new Date(post.data.pubDate).toLocaleDateString('en-us', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                  })}
                </span>
                <a
                  class="link link-primary text-lg"
                  href={`/blog/${post.slug}`}
                >
                  {post.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
