---
import { Content as ReadMe } from '../../README.md'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { fade } from 'astro:transitions'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
  </head>

  <body class="max-w-lg mx-auto blog">
    <Header />
    <main transition:animate={fade({ duration: '200ms' })}>
      <article>
        <ReadMe />
      </article>
    </main>
  </body>
</html>
