---
import { Content as ReadMe } from '../../README.md'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { fade } from 'astro:transitions'
import { SITE_DESCRIPTION, SITE_TITLE } from '../config'
import { getCollection } from 'astro:content'

let allPosts = await getCollection('posts')
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
)
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="max-w-lg mx-auto blog">
    <Header />
    <main transition:animate={fade({ duration: '50ms' })}>
      <article>
        <ReadMe />
      </article>

      <section>
        <h5>Thoughts:</h5>
        <ul>
          {
            allPosts.map((post) => (
              <li class="mt-4 flex flex-col gap-x-4">
                <span>
                  {new Date(post.data.pubDate).toLocaleDateString('en-us', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                  })}
                </span>
                <a class="text-lg" href={`/blog/${post.slug}`}>
                  {post.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
