---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-0D8J8XRGJL"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-0D8J8XRGJL')
    </script>
  </head>
  <body class="max-w-lg mx-auto">
    <Header title={SITE_TITLE} />
    <main>
      <h1 class="text-blue-700">Hi 👋 I'm Duong</h1>
      <p>
        I love Frontend and still learning
      </p>
    </main>
    <Footer />
  </body>
</html>
