---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { getCollection } from 'astro:content'

let allNotes = await getCollection('notes')
allNotes = allNotes.sort((a, b) => a.id.localeCompare(b.id))

---

<!DOCTYPE html>
<html data-theme="lemonade" lang="en">
  <head>
    <BaseHead
      title="@duongital - Learn"
      description="Cheatsheet on learning CS topics"
    />
  </head>
  <body class="max-w-2xl mx-auto">
    <Header />
    <mai>
      <section>
        <p>
          I've been exploring computer science on my own, and I'd like to share
          some notes I've gathered along the way.
        </p>
        <h1>Cheatsheets:</h1>
        <ul>
          {
            allNotes.map((post) => (
              <li class="my-4">
                <a
                  class="link link-secondary"
                  class="text-xl"
                  href={`/learn/${post.slug}`}
                >
                  {post.id}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </mai>
  </body>
</html>
