---
import { fade } from 'astro:transitions'

import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import LottieAnimation from 'astro-integration-lottie/Lottie.astro'
import { getCollection } from 'astro:content'

let allNotes = await getCollection('notes')
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="max-w-lg mx-auto">
    <Header />
    <main transition:animate={fade({ duration: '50ms' })}>
      <section>
        <div class="flex gap-x-4 items-center">
          <h2 class="text-4xl font-mono">My Notes</h2>
          <div class="w-12 h-12">
            <LottieAnimation src="/assets/Robot.json" />
          </div>
        </div>
        <ul>
          {
            allNotes.map((post) => (
              <li class="my-4">
                <a class="text-lg" href={`/notes/${post.slug}`}>
                  {post.id}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
