---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import LottieAnimation from 'astro-integration-lottie/Lottie.astro'
import { getCollection } from 'astro:content'

let allNotes = await getCollection('notes')
---

<!DOCTYPE html>
<html data-theme="lemonade" lang="en">
  <head>
    <BaseHead
      title="@duongital - Notes"
      description="Cheatsheet on CS topics"
    />
  </head>
  <body class="max-w-2xl mx-auto">
    <Header />
    <mai>
      <section>
        <h1>Cheatsheets:</h1>
        <ul>
          {
            allNotes.map((post) => (
              <li class="my-4">
                <a
                  class="link link-secondary"
                  class="text-xl"
                  href={`/notes/${post.slug}`}
                >
                  {post.id}
                </a>
              </li>
            ))
          }
        </ul>
        <div class="flex gap-x-4 items-center">
          <div class="w-12 h-12">
            <LottieAnimation src="/assets/Robot.json" />
          </div>
        </div>
      </section>
    </mai>
  </body>
</html>
