---
import { fade } from 'astro:transitions'

import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import LottieAnimation from 'astro-integration-lottie/Lottie.astro'
import { getCollection } from 'astro:content'

let allRandom = await getCollection('random')
const randomList = [
  // { id: 'cs/', name: 'Computer Science' },
  // { id: 'lang/', name: 'Languages' },
  { id: 'misc/', name: 'Miscellaneous' },
]
---

<!DOCTYPE html>
<html data-theme="cupcake" lang="en">
  <head>
    <BaseHead
      title="@duongital - Random"
      description="Random pieces on learning CS topics"
    />
  </head>
  <body class="max-w-lg mx-auto">
    <Header />
    <main transition:animate={fade({ duration: '50ms' })}>
      <section>
        <h1>Random Topics</h1>
      </section>
      <section>
        <ul>
          {
            allRandom.map((post) => (
              <li class="my-2">
                <a
                  class="text-lg link link-primary"
                  href={`/random/${post.slug}`}
                >
                  {post.id}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
      <div class="w-12 h-12 mt-8">
        <LottieAnimation src="/assets/Robot.json" />
      </div>
    </main>
  </body>
</html>
