---
import { fade } from 'astro:transitions'

import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import LottieAnimation from 'astro-integration-lottie/Lottie.astro'
import { getCollection } from 'astro:content'

let allRandom = await getCollection('random')
const randomList = [
  // { id: 'cs/', name: 'Computer Science' },
  // { id: 'lang/', name: 'Languages' },
  { id: 'misc/', name: 'Miscellaneous' },
]
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="@duongital - Random"
      description="Random pieces on learning CS topics"
    />
  </head>
  <body class="max-w-lg mx-auto">
    <Header />
    <main transition:animate={fade({ duration: '50ms' })}>
      <section>
        <div class="flex gap-x-4 items-center">
          <h2 class="text-4xl font-mono">Random Topics</h2>
          <div class="w-12 h-12">
            <LottieAnimation src="/assets/Robot.json" />
          </div>
        </div>
      </section>
      <section>
        <ul>
          {
            allRandom.map((post) => (
              <li class="my-2">
                <a class="text-lg" href={`/random/${post.slug}`}>
                  {post.id}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
