---
import HeaderLink from './HeaderLink.astro'
const today = new Date()
---

<footer>
  <span>find me on:</span>
  <nav class="flex gap-x-2">
    <HeaderLink href="https://twitter.com/duongital">twitter</HeaderLink>
    <HeaderLink href="https://github.com/duongital">github</HeaderLink>
  </nav>
</footer>


<style>
  footer {
    padding: 25px 0;
    font-size: 10px;
  }
</style>
