---
import HeaderLink from './HeaderLink.astro'
const today = new Date()
---

<footer class="pt-48">
  <nav class="flex gap-x-4 items-center">
    <HeaderLink href="https://twitter.com/duongital">
      <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M25.001 0C11.1933 0 0 11.1954 0 25.001C0 38.8087 11.1933 50 25.001 50C38.8087 50 50 38.8087 50 25.001C50 11.1954 38.8077 0 25.001 0ZM37.5944 19.9602C37.6076 20.2303 37.6127 20.5013 37.6127 20.7755C37.6127 29.1017 31.2754 38.7011 19.6871 38.7011C16.1296 38.7011 12.8168 37.6584 10.0288 35.8715C10.5223 35.9294 11.0228 35.9588 11.5314 35.9588C14.4838 35.9588 17.2007 34.9517 19.3561 33.2623C16.5997 33.2105 14.2737 31.3881 13.4716 28.8854C13.8554 28.9606 14.2503 28.9981 14.6564 28.9981C15.2311 28.9981 15.7874 28.923 16.3164 28.7778C13.433 28.1991 11.2614 25.6508 11.2614 22.6009C11.2614 22.5735 11.2614 22.5471 11.2624 22.5197C12.1112 22.9918 13.0828 23.2751 14.1163 23.3086C12.4249 22.1765 11.3131 20.2506 11.3131 18.0637C11.3131 16.9093 11.6238 15.826 12.166 14.896C15.2737 18.7074 19.9165 21.2161 25.1533 21.478C25.0457 21.0181 24.9898 20.5359 24.9898 20.0424C24.9898 16.5641 27.8103 13.7427 31.2906 13.7427C33.1029 13.7427 34.7395 14.5082 35.8888 15.7316C37.3244 15.4504 38.6726 14.9245 39.8899 14.2026C39.4178 15.6748 38.4198 16.9093 37.1183 17.688C38.3945 17.5357 39.6087 17.1966 40.7377 16.6961C39.895 17.9622 38.8259 19.0718 37.5944 19.9602Z" fill="black"/>
</svg>

    </HeaderLink>
    <HeaderLink href="https://github.com/duongital">
     <svg width="50" height="51" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M25 0.979004C11.1942 0.979004 0 12.4522 0 26.6152C0 37.9433 7.16518 47.5415 17.0982 50.9344C18.3482 51.1687 18.8058 50.3763 18.8058 49.6955C18.8058 49.0817 18.7835 47.4745 18.7723 45.3317C11.8192 46.883 10.346 41.8942 10.346 41.8942C9.20759 38.9366 7.56696 38.1442 7.56696 38.1442C5.30134 36.5482 7.73438 36.5817 7.73438 36.5817C10.2455 36.7603 11.5625 39.2268 11.5625 39.2268C13.7946 43.1442 17.4107 42.0169 18.8393 41.3585C19.0625 39.7067 19.7098 38.5683 20.4241 37.9321C14.8772 37.2848 9.04018 35.0861 9.04018 25.2647C9.04018 22.4634 10.0112 20.1754 11.6071 18.3897C11.3504 17.7424 10.4911 15.1308 11.8527 11.604C11.8527 11.604 13.9509 10.912 18.7277 14.2268C20.7254 13.6576 22.8571 13.3786 24.9888 13.3674C27.1094 13.3786 29.2522 13.6576 31.25 14.2268C36.0268 10.912 38.1138 11.604 38.1138 11.604C39.4754 15.1308 38.6161 17.7424 38.3594 18.3897C39.9554 20.1866 40.9263 22.4745 40.9263 25.2647C40.9263 35.1085 35.0781 37.2736 29.5089 37.9098C30.4018 38.7022 31.2054 40.2647 31.2054 42.6531C31.2054 46.0794 31.1719 48.8473 31.1719 49.6844C31.1719 50.3652 31.6183 51.1687 32.8906 50.912C42.846 47.5303 50 37.9321 50 26.6152C50 12.4522 38.8058 0.979004 25 0.979004Z" fill="black"/>
</svg>


    </HeaderLink>
  </nav>
</footer>

