---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../config'

import { Image } from 'astro:assets';
import GithubLogo from '../assets/Github_light.svg'
---

<header>
  <section class="flex justify-between items-center">
    <h2 class="text-4xl font-mono">
      {SITE_TITLE}
    </h2>
    <HeaderLink href="https://github.com/duongital">
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_201_999)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 0.479858C5.5971 0.479858 0 6.10397 0 13.0466C0 18.5996 3.58259 23.3046 8.5491 24.9678C9.1741 25.0827 9.4029 24.6942 9.4029 24.3605C9.4029 24.0596 9.39175 23.2718 9.38615 22.2214C5.9096 22.9818 5.173 20.5363 5.173 20.5363C4.60379 19.0865 3.78348 18.6981 3.78348 18.6981C2.65067 17.9157 3.86719 17.9322 3.86719 17.9322C5.12275 18.0197 5.78125 19.2288 5.78125 19.2288C6.8973 21.1491 8.70535 20.5965 9.41965 20.2737C9.53125 19.464 9.8549 18.906 10.2121 18.5941C7.4386 18.2768 4.52009 17.199 4.52009 12.3846C4.52009 11.0114 5.0056 9.88986 5.80355 9.01451C5.6752 8.69721 5.24555 7.41701 5.92635 5.68819C5.92635 5.68819 6.97545 5.34897 9.36385 6.97388C10.3627 6.69486 11.4286 6.55809 12.4944 6.5526C13.5547 6.55809 14.6261 6.69486 15.625 6.97388C18.0134 5.34897 19.0569 5.68819 19.0569 5.68819C19.7377 7.41701 19.3081 8.69721 19.1797 9.01451C19.9777 9.89535 20.4632 11.0169 20.4632 12.3846C20.4632 17.21 17.539 18.2713 14.7544 18.5832C15.2009 18.9716 15.6027 19.7376 15.6027 20.9083C15.6027 22.5879 15.5859 23.9447 15.5859 24.3551C15.5859 24.6888 15.8091 25.0827 16.4453 24.9568C21.423 23.2991 25 18.5941 25 13.0466C25 6.10397 19.4029 0.479858 12.5 0.479858Z" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_201_999">
        <rect width="25" height="25" fill="white"/>
        </clipPath>
        </defs>
      </svg>

    </HeaderLink>
  </section>
  <nav class="my-6 flex gap-x-4">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/learn">Learn</HeaderLink>
    <HeaderLink href="/random">Random</HeaderLink>
    <HeaderLink href="/links">Links</HeaderLink>
  </nav>
</header>
