---
import { fade, slide } from 'astro:transitions'

import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'

export interface Props {
  content: {
    title: string
    description: string
    pubDate: string
  }
}

const {
  content: { title, description, pubDate },
} = Astro.props
---

<html data-theme="lemonade" lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="max-w-2xl mx-auto blog">
    <Header />
    <main transition:animate={slide({ duration: '50ms' })}>
      <article>
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        <slot />
      </article>
    </main>
  </body>
</html>
